{
  "extends": ["oclif", "plugin:prettier/recommended"],
  "rules": {
    "node/no-unsupported-features/es-syntax": false,
    "node/no-unpublished-require": false
  },
  "env": {
    "browser": true,
    "node": true
  }
}
